<div class="container">
    <h1>View Post</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>Nome do Evento:</strong>
        <p>{{ post.name }}</p>
    </div>
   
    <div>
        <strong>Categoria:</strong>
        <p>{{ post.category }}</p>
    </div>
   
    <div>
        <strong>Data:</strong>
        <p>{{ post.date }}</p>
    </div>

    <div>
        <strong>Local:</strong>
        <p>{{ post.local }}</p>
    </div>

    <div>
        <strong>Descrição:</strong>
        <p>{{ post.description }}</p>
    </div>
    
   
</div>