/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.button{
    background-color: #f36e2d;
    border: none;
    margin-top: 2%;
}

.button:hover{
    background-color: #fff;
    color: #f36e2d;
    border: #f36e2d;
}

.internal{
    color: #f36e2d;
}