/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.button{
    background-color: #f36e2d;
    border: none;
    margin-left: 2%;
}

.button-internal{
    background-color: #f36e2d;
    border: none;
    margin: 2% 0;
}

.button:hover, .button-internal:hover{
    background-color: #00998E;
    color: #fff;
    border: #f36e2d;
}

.internal{
    color: #f36e2d;
}